:root {
	font-family: 'Open Sans', sans-serif;
	--font-header: 'Neucha', cursive;
	--pure-white: #ffffff;
	--yellow: #ffff0b;
	--green: #b2ff46;
	--blue: #7ed4f8;
	--pink: #ff82e4;
	--dark-green: #08dba1;
	--orange: #fd791d;
	--primary-color: #F23005;
	--secondary-color: #12D4FF;
	--secondary-dark-color: #148BA6;
	--tertiary-color: #11F223;
	--tertiary-dark-color: #14A620;
	--accent-color: #FFF500;
	--text-color: #333333;
	--bg-color: white;
}

body {
	min-height: 100vh;
	margin: 0;
	color: var(--text-color);
	font-size: 18px;
}

#svelte {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

h1,h2,h3 {
	font-family: var(--font-header);
	color: var(--primary-color);
	font-weight: normal;
}

h1 {font-size: 2.25rem; letter-spacing: 0.1em;}
h2 {font-size: 3.375rem;}
h3 {font-size: 1.5rem; font-weight: bold;}
h4 {
	font-size: 1rem; 
	font-weight: bold; 
	text-transform: uppercase;
	letter-spacing: 0.2em;
}

a {
	color: var(--secondary-dark-color);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

main {
	padding: 3em 1.5em 1em;
}
